/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 2 versions
*/

:root {
  --primary-color: #0b6840;
  --secondary-color: #d2c4f0;
  --dark-grey: #2b2b2b;
  --background-color: #f4fff4;
  --active-link: #3fb987;
  --white: #fff;
  --black: #000;
  --highlight: rgba(255, 255, 255, 0.3);
  --shadow: rgba(0, 0, 0, 0.3);
  --border-color: rgba(38, 112, 80, 0.6);
  --heading-line-height: 1.5;
  --bold-font-weight: 700;
  --basic-border: 2px solid var(--border-color);
  --basic-shadow: 3px 3px 4px;
  --button-shadow: 2px solid var(--shadow);
  --button-highlight: 2px solid var(--highlight);
  --standard-spacing: 10px;
  --standard-max-width: 700px;
  --standard-grid-gap: 20px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: var(--dark-grey);
  background-color: var(--background-color);
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
}

footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  margin-top: var(--standard-spacing);
  margin-bottom: var(--standard-spacing);
}

.bg-custom {
  background-color: var(--background-color);
}

.profile {
  max-width: var(--standard-max-width);
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

table,
th,
td {
  margin: 0 auto;
  border: var(--basic-border);
  padding: 3px;
}

.grid__item {
  color: var(--black);
  border: var(--basic-border);
  padding: var(--standard-spacing);
  text-align: center;
  -webkit-box-shadow: var(--basic-shadow);
  box-shadow: var(--basic-shadow);
}

.work {
  text-align: center;
  padding: var(--standard-spacing);
}

.grid-about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr var(--standard-grid-gap) 1fr;
  grid-template-columns: 2fr 1fr;
  grid-gap: var(--standard-grid-gap);
}

.grid-about__item {
  text-align: center;
}

.grid-about__item:first-child {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

#izzy-pics {
  clear: both;
  max-width: var(--standard-max-width);
  margin: 0 auto;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.izzy-pics {
  border: solid var(--border-color);
  border-radius: 25%;
  -webkit-box-shadow: var(--basic-shadow);
  box-shadow: var(--basic-shadow);
  margin: 5px;
}

.about-me {
  display: inline-block;
  margin: 15px auto;
}

main,
header {
  border-bottom: var(--basic-border);
}

#logo {
  max-width: 8%;
  border: var(--basic-border);
  border-radius: 10%;
  -webkit-box-shadow: var(--basic-shadow);
  box-shadow: var(--basic-shadow);
}

.nav-item {
  padding: 15px;
}

.nav-link {
  text-decoration: underline;
  font-size: x-large;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin: 10px;
  border-radius: 50%;
  -webkit-box-shadow: var(--basic-shadow);
  box-shadow: var(--basic-shadow);
  border: var(--basic-border);
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.active {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: auto;
  padding: 0px;
}

.btn-primary:hover {
  background-color: lightgreen;
  border-color: black;
  color: black;
}

h1 {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.btn-secondary {
  background-color: #c43b3b;
  border-color: black;
}

#contact-form {
  background-color: var(--white);
  border: var(--basic-border);
  padding: var(--standard-spacing);
  max-width: 350px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 3fr;
  grid-template-rows: 1fr 1fr 3fr;
}

.contact__item {
  margin: auto;
}

.about {
  -ms-flex-line-pack: center;
  align-content: center;
}

svg {
  width: 500px;
  height: auto;
  border: var(--basic-border);
  -webkit-box-shadow: var(--basic-shadow);
  box-shadow: var(--basic-shadow);
}

svg * {
  transform-box: fill-box;
}

@-webkit-keyframes wheel-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: center;
    transform-origin: center;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transform-origin: center;
    transform-origin: center;
  }
}

@keyframes wheel-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: center;
    transform-origin: center;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transform-origin: center;
    transform-origin: center;
  }
}

#wheel {
  -webkit-animation: 45s wheel-spin infinite normal linear;
  animation: 45s wheel-spin infinite normal linear;
}

/* 
Colors used:
Background color (Pale Green): #f4fff4;
Text Color (Dark Gray): #2b2b2b;
Primary Color (Dark Green): #267150, rgb(38, 112, 80);
Secondary Color (Light Purple): #d2c4f0;
*/
